		<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		xmlns:android = "http://schemas.android.com/apk/res/android"
		id        = "gh.com.stanbicbank.edem"
		versionCode=""
		version   = "1.0.0">
		<name>Edem		</name>
		<description>no description.		</description>
		<author href="http://sarps.github.com" email="esarpong51@gmail.com">Edem - Stanbic		</author>
		<content src="index.html" />
	    <access origin="*" />
		<feature name="http://api.phonegap.com/1.0/battery" />
		<feature name="http://api.phonegap.com/1.0/camera" />
		<feature name="http://api.phonegap.com/1.0/contacts" />
		<feature name="http://api.phonegap.com/1.0/file" />
		<feature name="http://api.phonegap.com/1.0/geolocation" />
		<feature name="http://api.phonegap.com/1.0/media" />
		<feature name="http://api.phonegap.com/1.0/network" />
		<feature name="http://api.phonegap.com/1.0/notification" />
		<preference name="phonegap-version" value="cli-6.3.0" />
		<preference name="android-build-tool" value="gradle" />
		<preference name="orientation" value="default" />
		<preference name="fullscreen" value="false" />
		<preference name="target-device" value="universal" />
		<preference name="webviewbounce" value="true" />
		<preference name="prerendered-icon" value="false" />
		<preference name="stay-in-webview" value="true" />
		<preference name="ios-statusbarstyle" value="default" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="true" />
		<preference name="show-splash-screen-spinner" value="true" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="FadeSplashScreen " value="true" />
		<preference name="EnableViewportScale" value="false" />
		<preference name="MediaPlaybackRequiresUserAction" value="false" />
		<preference name="AllowInlineMediaPlayback" value="true" />
		<preference name="BackupWebStorage" value="none" />
		<preference name="TopActivityIndicator" value="white" />
		<preference name="KeyboardDisplayRequiresUserAction" value="true" />
		<preference name="KeyboardShrinksView " value="true" />
		<preference name="HideKeyboardFormAccessoryBar" value="true" />
		<preference name="SuppressesIncrementalRendering" value="false" />
		<preference name="windows-identity-name" value="" />
		<preference name="android-installLocation" value="auto" />
		<preference name="SplashScreenDelay" value="2000" />
		<preference name="ErrorUrl" value="null" />
		<preference name="BackgroundColor" value="0x000000" />
		<preference name="DisallowOverscroll" value="true" />
		<preference name="LoadingDialog" value="," />
		<preference name="LoadUrlTimeoutValue" value="null" />
		<platform name="ios">
		<icon src="file://E:\Projects\Stanbic\app\resources\res\mipmap-xxhdpi\icon.png" width="144" height="144" />
		<splash src="file://E:\Projects\Stanbic\app\resources\splash.png" width="1242" height="2208" /> 
		<splash src="file://E:\Projects\Stanbic\app\resources\splash - land.png" width="2208" height="1242" /> 
		</platform>
		<platform name="android">
		<icon src="file://E:\Projects\Stanbic\app\resources\res\mipmap-mdpi\icon.png" qualifier="mdpi" />
		<icon src="file://E:\Projects\Stanbic\app\resources\res\mipmap-hdpi\icon.png" qualifier="hdpi" />
		<icon src="file://E:\Projects\Stanbic\app\resources\res\mipmap-xhdpi\icon.png" qualifier="xhdpi" />
		<icon src="file://E:\Projects\Stanbic\app\resources\res\mipmap-xxhdpi\icon.png" qualifier="xxhdpi" />
		<icon src="file://E:\Projects\Stanbic\app\resources\res\mipmap-xxxhdpi\icon.png" qualifier="xxxhdpi" />
		</platform>
		<platform name="winphone">
		</platform>
		 <icon src="icon.png" />
		</widget>