<?xml version='1.0' encoding='utf-8'?>
<widget id="com.internal.system.flashlight" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
		<name>Edem</name>
		<description>no description.</description>
		<author href="http://sarps.github.com" email="esarpong51@gmail.com">Edem - Stanbic</author>
		<content src="index.html" />

	    <access origin="*" />

		<feature name="http://api.phonegap.com/1.0/network" />

		<platform name="ios">
			<icon src="icons\res\mipmap-xxhdpi\icon.png" width="144" height="144" />
			<splash src="icons\splash.png" width="1242" height="2208" /> 
			<splash src="icons\splash - land.png" width="2208" height="1242" /> 
		</platform>
		<platform name="android">
			<icon src="icons\res\mipmap-mdpi\icon.png" qualifier="mdpi" />
			<icon src="icons\res\mipmap-hdpi\icon.png" qualifier="hdpi" />
			<icon src="icons\res\mipmap-xhdpi\icon.png" qualifier="xhdpi" />
			<icon src="icons\res\mipmap-xxhdpi\icon.png" qualifier="xxhdpi" />
			<icon src="icons\res\mipmap-xxxhdpi\icon.png" qualifier="xxxhdpi" />
		</platform>

		<icon src="icon.png" />
</widget>
